body {
  margin: 0px;
  background-image: url("/img/backgroundwatch.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  #clock {
    font-family: monospace;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: white;

  }
}
